<main role="main" class="container">
  <div class="jumbotron welcome-main">
    <h1>Hello, Rails!</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
		<%= link_to 'All articles', articles_path, class: 'btn btn-lg btn-primary' %>	
  </div>
</main>