.article-page {
	margin-top: 30px;
  margin-bottom: 50px;
}

.card-text {
    max-height: 95px;
    overflow: hidden;
}

#article_title, #article_text {
	width: 50%;
}

.form-block {
	margin: 0 auto;
}

.buttons-line {
	width: 100%;
    display: flex;
    justify-content: space-between;
}