.comments {
	margin-top: 50px;
}

.comment {
	margin: 15px 0;
  padding: 10px;	
	border: solid 1px #0089ff;
  border-radius: 5px;
}

.form-comment-text {
	margin-bottom: 20px;
}

.form-input-comment {
	margin-bottom: 50px;
}